<?xml version="1.0" encoding="utf-8" ?>
<!-- Refer To: https://github.com/NLog/NLog/wiki/Configuration-file#configuration-file-format -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- the targets to write -->
  <targets>
    <!-- write to file -->
    <target name="applog" xsi:type="File"
    fileName="\Logs\Rapture.Therapy.WebApi\Rapture.Therapy.WebApi-${shortdate}.log"
    layout="${longdate} [${level}] [${mdlc:item=SessionGuid}] [${callsite}] ${message}${onexception:${newline}${exception:format=tostring}}" />
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
	<!-- all logs including Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="applog" />
  </rules>
</nlog>
